
.main-logo img{
    height: 20px;
}
.sub-logo img{
    height: 10px;
}
.sub-logo{
    display: flex;
    gap: .2rem;
    align-items: center;
    font-size: 12px;
 

}
span{
   display: flex;
   align-items: center;   
}
plus{
    color: yellow;
}
.search{
    background-color: aliceblue; 
    align-items: center;
}
.Header{
    display: flex;
    height: 60px; 
    width: 100vw;
    align-items: center;
    gap: 2%;
    margin-left: 17%;
    
   
    
}
.search{
    height: 2rem;
    display: flex;
    align-items: center;
    width:30vw;
}
.button{
    display: flex;
    align-items: center;
    gap: 3vw;
}
.cart{
    display: flex;
    color: aliceblue;
}
.options{
    display: flex;
    gap: 3vw;
    align-items: center;
    
    
}